.pag-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
}
.title {
  text-align: center;
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
}
.pag-card {
  text-align: center;
  background: #cdd2db;
  width: 70%;
  margin: 3px auto;
  border: 1px solid black;
  border-radius: 10px;
  animation-name: pag-inc;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}

.pag-card ul {
  list-style: none;
}

.pag-card ul li {
  display: inline;
  margin: 1rem;
}

.pag-error {
  color: red;
  text-align: center;
}

.pag-button {
  margin: 7px auto;
  margin-bottom: 15em;
  text-align: center;
  background: #9fa9bb;
  font-size: 20px;
  width: 10em;
  height: 50px;
  border-radius: 35px;
  border: none;
  box-shadow: 2px 2px 1px #888888;
  transition-duration: 400ms;
  transition-property: background-color, color;
  outline: none;
}
.pag-button:hover {
  color: white;
  cursor: pointer;
  background: #5f6570;
  border: solid 1px black;
}

@keyframes pag-inc {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 960px) {
  .pag-card ul {
    padding: 0;
  }
  .pag-card ul li {
    display: block;
    overflow: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .pag-card {
    width: 100%;
  }
}
