body,
html {
  margin: 0;
  background-color: rgba(194, 195, 195, 0.5);
}
a {
  text-decoration: none;
}
.main-app {
  display: flex;
  height: 100vh;
  overflow: scroll;
  justify-content: center;
}
