.input {
  width: 75%;
  height: 1.5rem;
  padding-left: 0.4rem;
  margin-top: 0.5rem;
}
.formGroup {
  margin: 1rem;
}
.form {
  width: 400px;
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px black solid;
  background-color: #eff0f2;
}
button {
  width: 25%;
  margin: 1rem;
  height: 3rem;
  background-color: #41a9ea;
  border-radius: 50px;
}
button:hover {
  border: 2px black solid;
  color: white;
}
