.card-contaniner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10em;
}
.card {
  text-align: center;
  height: 3em;
  width: 100%;
  margin: 2px auto;
  border: 1px solid black;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
  transition-duration: 400ms;
  transition-property: color, background-color;
}
.header {
  text-align: center;
  margin: 0.5em;
}

.error {
  color: red;
}

.card > ul {
  padding: 0;
  list-style: none;
}
.card > ul > li {
  display: inline;
}
.card > ul > li > span {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 1px 0 15px;
}

.card:hover {
  color: blue;
  cursor: pointer;
  background-color: #eff0f6;
}

.card-anim {
  animation-name: example;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  5% {
    transform: translate(-1000px);
  }
  90% {
    transform: translate(30px);
  }
  100% {
    opacity: 1;
  }
}
