.card-contaniner {
  position: relative;
  width: 55%;
  max-width: 100%;
  margin: 4rem auto;
  text-align: center;
}
.card {
  position: relative;
  height: 3em;
  padding-top: 1.3em;
  margin: 0.2em;
  border: 1px solid black;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4);
}
.header {
  margin: 0.5em;
}

.card > ul {
  list-style: none;
  display: inline;
}
.card > ul > li {
  display: inline;
}
.card > ul > li > span {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 1px 0 15px;
}

.card:hover {
  color: blue;
  cursor: pointer;
  background-color: #eff0f6;
}

.card-anim {
  animation-name: example;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  5% {
    transform: translate(-1000px);
  }
  90% {
    transform: translate(30px);
  }
  100% {
    opacity: 1;
  }
}
