.expense-form {
  position: relative;
  width: 25rem;
  max-width: 100%;
  margin: 4rem auto;
  border: 1px black solid;
  background-color: #eff0f2;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 9999;
}
.form-group {
  margin: 1rem auto;
  max-width: 80%;
}

.form-group input,
.form-group label,
.form-group select {
  width: 97%;
  margin: 0;
  height: 1.5rem;
}

.form-group input {
  padding-left: 0.3rem;
}

.form-button {
  width: 35%;
  margin: 0 1rem 0 0;
  height: 2.3rem;
  background-color: #41a9ea;
  border: 1px solid #41a9ea;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  transition-duration: 400ms;
  transition-property: background-color, color;
}
.form-button:hover,
.form-button:active {
  background-color: #4192ea;
  border: 1px #4192ea solid;
  color: white;
}
