.main-nav {
  text-align: center;
  padding: 1rem 0;
  background: #e5e7ea;
}
.main-nav ul {
  margin: 0;
  list-style: none;
}
.main-nav li {
  display: inline;
  font-size: 2rem;
  padding: 0.5rem;
}
.main-nav a:hover {
  color: black;
}
.main-nav a {
  color: #666;
  text-decoration: none;
}

.main-nav a.active {
  border-bottom: solid 3px black;
  color: black;
}
