.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;
  background: #e5e7ea;
  border-bottom: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  overflow: hidden;
}
.main-nav .nav-ul {
  margin: 0;
  list-style: none;
}
.main-nav .nav-ul > li {
  display: inline;
  font-size: 2rem;
  padding: 0.5rem;
}
.main-nav .nav-ul a:hover {
  color: black;
}
.main-nav .nav-ul a {
  transition-duration: 400ms;
  transition-property: color;
  color: #666;
  text-decoration: none;
}

.main-nav .nav-ul a.active {
  border-bottom: solid 3px black;
  color: black;
}

.wel-msg {
  font-size: 1.5rem;
  margin: 0.4rem;
}

@media screen and (max-width: 600px) {
  .nav-ul {
    display: none;
  }
  .wel-msg {
    display: none;
  }
  .main-btn {
    left: 0.5rem;
  }
}

@media screen and (max-width: 999px) {
  .main-nav {
    justify-content: flex-start;
  }
  .wel-msg {
    display: none;
  }
  .main-nav li {
    font-size: 1.5rem;
  }
}

.navIcon {
  margin-left: 20px;
  margin-top: 11px;
  width: 30px;
  height: 20px;
}
.navIcon > * {
  width: 30px;
}

.navIcon:hover {
  cursor: pointer;
}

.navIcon {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.naviconUpper {
  border-top: 3px solid black;
  cursor: pointer;
  transition: all 200ms;
}

.innerNavicon {
  margin-top: 5px;
  border-top: 3px solid black;
  cursor: pointer;
  transition: all 300ms;
}

.naviconLower {
  border-bottom: 3px solid black;
  cursor: pointer;
  transition: all 300ms;
  margin-top: 5px;
}
