.sidebar {
  position: absolute;
  position: fixed;
  left: -50%;
  top: 0;
  height: 100%;
  width: 17vw;
  background-color: #666;
  z-index: 99999;
}
.sidebar-nav {
  margin: 0;
  padding: 10px;
  top: 100px;
  position: relative;
  list-style: none;
  font-size: 1.5rem;
  left: 10px;
}
.sidebar-nav > li {
  padding-top: 10px;
}
.sidebar-nav a {
  text-decoration: none;
  color: #f4f4f4;
}
.sidebar-nav a:hover {
  color: darkgrey;
  font-size: 110%;
}
.sidebar-nav a.active {
  border-bottom: solid 3px black;
  color: black;
}
.open-side {
  animation: opening 400ms forwards;
}
.close-side {
  animation-name: closing 400ms forwards;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #666;
  border: none;
}
.close-btn::before {
  position: absolute;
  content: "";
  height: 38px;
  top: 0;
  left: 17px;
  box-sizing: border-box;
  border-left: solid 4px white;
  transform: rotate(45deg);
}
.close-btn::after {
  position: absolute;
  content: "";
  height: 0px;
  width: 38px;
  top: 17px;
  left: 0;
  box-sizing: border-box;
  border-bottom: solid 4px white;
  transform: rotate(45deg);
}

@keyframes cross {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closing {
  0% {
    left: 0;
  }
  50% {
    transform: scale(0.1);
  }
  100% {
    left: -50%;
  }
}
@keyframes opening {
  0% {
    left: -50%;
  }
  50% {
    transform: scale(0.1);
  }
  100% {
    left: 0;
    transform: scale(1);
  }
}
