.loader {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader > div {
  position: absolute;
  top: 25%;
  width: 28px;
  height: 70px;
  background: black;
}
.box1 {
  left: 0%;
  animation: loading 1s linear 0s infinite forwards;
}
.box2 {
  left: 30%;
  animation: loading 1s linear 100ms infinite forwards;
}
.box3 {
  left: 60%;
  animation: loading 1s linear 200ms infinite forwards;
}
.box4 {
  left: 90%;
  animation: loading 1s linear 300ms infinite forwards;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}
